body {
  background-color: #393646;
  text-align: center;
}

div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: auto;
  height: auto;
}

p {
  color: #f4eee0;
  font-size: calc(15px + 0.390625vw);
  padding: calc(8px + 1.5625vw);
}
