#result {
  font-size: 12vw;
}

body {
  background-color: #393646;
  text-align: center;
  color: #f4eee0;
}

div {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
